In [0]:
# from google.colab import files
# files.upload()

In [0]:
# !ls -lha kaggle.json

In [0]:
# !pip install -q kaggle

In [0]:
# !mkdir -p ~/.kaggle
# !cp kaggle.json ~/.kaggle/

# # This permissions change avoids a warning on Kaggle tool startup.
# !chmod 600 ~/.kaggle/kaggle.json

In [0]:
# List available datasets.
# !kaggle datasets list

In [0]:
# !kaggle competitions download -c ieee-fraud-detection

In [0]:
# !unzip train_identity.csv.zip
# !unzip train_transaction.csv.zip
# !unzip test_identity.csv.zip
# !unzip test_transaction.csv.zip

In [0]:
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn import preprocessing
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
train_transaction = pd.read_csv('./train_transaction.csv')
train_identity = pd.read_csv('./train_identity.csv')
test_transaction = pd.read_csv('./test_transaction.csv')
test_identity = pd.read_csv('./test_identity.csv')

In [9]:
train_transaction.head()

   TransactionID  isFraud  TransactionDT  ...  V337 V338  V339
0        2987000        0          86400  ...   NaN  NaN   NaN
1        2987001        0          86401  ...   NaN  NaN   NaN
2        2987002        0          86469  ...   NaN  NaN   NaN
3        2987003        0          86499  ...   NaN  NaN   NaN
4        2987004        0          86506  ...   0.0  0.0   0.0

[5 rows x 394 columns]

In [0]:
train = pd.merge(train_transaction, train_identity,on = 'TransactionID', how='left')
test = pd.merge(test_transaction, test_identity,on = 'TransactionID', how='left')

In [0]:
# row_len_train = train.shape[0]
# row_len_test = test.shape[0]

# print(row_len_train)
# print(row_len_test)

# train_new = train.dropna(axis='columns', thresh=round(row_len_train*0.2))
# test_new = test.dropna(axis='columns', thresh=round(row_len_test*0.2))

# train.shape

In [0]:
test_new = test

In [12]:
train_new=train
train_new.shape

(590540, 434)

In [13]:

test_new.shape

(506691, 433)

In [0]:
###Dropping Columns like Transaction ID and Transaction Date from both Train and Test datasets
train_new = train_new.drop(["TransactionID","TransactionDT"],axis=1)
test_new = test_new.drop(["TransactionID","TransactionDT"],axis=1)

In [15]:
###View column headers of new data frame###
train_new.head()

   isFraud  TransactionAmt  ... DeviceType                     DeviceInfo
0        0            68.5  ...        NaN                            NaN
1        0            29.0  ...        NaN                            NaN
2        0            59.0  ...        NaN                            NaN
3        0            50.0  ...        NaN                            NaN
4        0            50.0  ...     mobile  SAMSUNG SM-G892A Build/NRD90M

[5 rows x 432 columns]

In [16]:
le = preprocessing.LabelEncoder()

train_new['ProductCD'] = le.fit_transform(train_new['ProductCD'])
train_new.head()
test_new['ProductCD'] = le.fit_transform(test_new['ProductCD'])
test_new.head()

   TransactionAmt  ProductCD  card1  ...  id_38  DeviceType DeviceInfo
0           31.95          4  10409  ...    NaN         NaN        NaN
1           49.00          4   4272  ...    NaN         NaN        NaN
2          171.00          4   4476  ...    NaN         NaN        NaN
3          284.95          4  10989  ...    NaN         NaN        NaN
4           67.95          4  18018  ...    NaN         NaN        NaN

[5 rows x 431 columns]

In [0]:
train_new = train_new._get_numeric_data()
test_new = test_new._get_numeric_data()

train_new = train_new.fillna(0)
test_new = test_new.fillna(0)

In [0]:
#####Split Training dataset to create train_X and train_Y variables##
train_new = np.split(train_new, [1], axis=1)

train_Y = train_new[0]
train_X = train_new[1]

In [19]:
train_X.head()
train_Y.head()

   isFraud
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0

In [0]:
####Rename test dataframe to be consistent###

test_new.head()

test_X = test_new

In [0]:
####Convert categorical variables to numbers using "One hot encoding"###


# #train_X_data = pd.train_X['ProductCD']
# print(pd.get_dummies(train_X['ProductCD']))

In [21]:
#####Train using Logistic regression (SKLearn) and test on the test dataset###
from sklearn.model_selection import train_test_split
# train_X, test_X,train_Y,test_Y = train_test_split(train_new, train_new, test_size=0.2)
logmodel = LogisticRegression(solver='lbfgs',max_iter=200)
logmodel.fit(train_X,train_Y.values.ravel())
predictions = logmodel.predict(test_X)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [22]:
predictions

array([0., 0., 0., ..., 0., 0., 0.])

In [23]:
logmodel.score(test_X,predictions)

1.0

In [0]:
import csv

with open('submission.csv', mode='w') as submission:
    submission_writer = csv.writer(submission, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    for i in range(len(predictions)):
      submission_writer.writerow([test_X['TransactionAmt'][i],predictions[i]])
      

submission.close()

In [0]:
final =  pd.read_csv('./submission.csv')

In [0]:
# test_X['TransactionAmt'].head()
final.head()